<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plat.acoal.dao.FlowMapper">
    <resultMap id="BaseResultMap" type="com.plat.acoal.entity.Flow">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="dCollectDT" property="dcollectdt" jdbcType="TIMESTAMP"/>
        <result column="tFlow" property="tflow" jdbcType="REAL"/>
        <result column="dev_id" property="devId" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, dCollectDT, tFlow, dev_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_flow
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 查询最新水流信息-->
    <select id="selectNewFById" resultType="com.plat.acoal.model.PressureFlowModel">

        SELECT
        dCollectDT,tFlow,dev_id as devid
        FROM
        t_flow
        WHERE
        1 = 1
        <if test="flowid!=null">
            AND dev_id= #{flowid,jdbcType=BIGINT}
        </if>
        ORDER BY
        dCollectDT
        LIMIT 1

    </select>
    <select id="selectFByHour" resultType="com.plat.acoal.model.PressureFlowModel">

        SELECT
        a.dCollectDT,
        AVG(tflow) as tflow
        FROM
        ( SELECT DATE_FORMAT( dCollectDT, '%Y-%m-%d %H:00:00' ) AS dCollectDT, tflow FROM t_flow_history WHERE 1 = 1
        <if test="devid!=null">AND dev_id = #{devid,jdbcType=INTEGER}</if>
        <if test="dcollectstart!=null">AND dCollectDT BETWEEN #{dcollectstart,jdbcType=TIMESTAMP}</if>
        <if test="dcollectend!=null">AND #{dcollectend,jdbcType=TIMESTAMP}</if>
        ORDER BY id ASC ) a
        GROUP BY
        a.dCollectDT
    </select>
    <!--水流监测列表 -->
    <select id="selectFList" resultType="com.plat.acoal.model.DevInfo">
        select * from (
        SELECT
        tdt.`name` AS typename,
        td.`name` AS NAME,
        td.site AS site,
        td.update_time AS updateTime,
        td.ip AS ip,
        td.`status` AS `status`,
        tf.tFlow as tflow,
        td.type AS type
        FROM
        t_dev td
        INNER JOIN t_dev_type tdt ON td.type = tdt.id
        right JOIN t_flow tf ON td.id = tf.dev_id
        WHERE 1=1
        <if test="type!=null">AND td.type= #{type,jdbcType=INTEGER}</if>
        <if test="icustomerid!=null">AND td.`icustomerid` = #{icustomerid,jdbcType=INTEGER}</if>
        <if test="status!=null">AND td.`status` = #{status,jdbcType=INTEGER}</if>
        <if test="name!=null">AND td.`name` LIKE "%"#{name,jdbcType=VARCHAR}"%"</if>
        ) a
    </select>

</mapper>