<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plat.acoal.dao.ParameterMapper">
    <resultMap id="BaseResultMap" type="com.plat.acoal.entity.Parameter">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="iCustomerID" property="icustomerid" jdbcType="INTEGER"/>
        <result column="isUsed" property="isused" jdbcType="BIT"/>
        <result column="cParam" property="cparam" jdbcType="VARCHAR"/>
        <result column="cOrder" property="corder" jdbcType="CHAR"/>
        <result column="cValue" property="cvalue" jdbcType="VARCHAR"/>
        <result column="gradeID" property="gradeid" jdbcType="INTEGER"/>
        <result column="cReTime" property="cretime" jdbcType="VARCHAR"/>
        <result column="dev_id" property="devId" jdbcType="INTEGER"/>
        <result column="addDateTime" property="adddatetime" jdbcType="TIMESTAMP"/>
        <result column="updateDateTime" property="updatedatetime" jdbcType="TIMESTAMP"/>
        <result column="addUserID" property="adduserid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, iCustomerID, isUsed, cParam, cOrder, cValue, gradeID, cReTime, dev_id, addDateTime,
    updateDateTime, addUserID
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_parameter
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <!-- 查询客户某预警参数-->
    <select id="selectByCus" resultType="com.plat.acoal.entity.Parameter"
            parameterType="com.plat.acoal.entity.Parameter">
        SELECT
        cParam,
        cValue
        FROM
        t_parameter
        WHERE 1=1
        <if test="cparam!=null">
            AND cParam = #{cparam,jdbcType=VARCHAR}
        </if>
        <if test="icustomerid!=null">
            AND iCustomerID = #{icustomerid,jdbcType=INTEGER}
        </if>


    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_parameter
    where ID = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.plat.acoal.entity.Parameter">
    insert into t_parameter (ID, iCustomerID, isUsed, 
      cParam, cOrder, cValue, 
      gradeID, cReTime, iDeviceId, 
      addDateTime, updateDateTime, addUserID
      )
    values (#{id,jdbcType=BIGINT}, #{icustomerid,jdbcType=INTEGER}, #{isused,jdbcType=BIT}, 
      #{cparam,jdbcType=VARCHAR}, #{corder,jdbcType=CHAR}, #{cvalue,jdbcType=VARCHAR}, 
      #{gradeid,jdbcType=INTEGER}, #{cretime,jdbcType=VARCHAR}, #{ideviceid,jdbcType=INTEGER}, 
      #{adddatetime,jdbcType=TIMESTAMP}, #{updatedatetime,jdbcType=TIMESTAMP}, #{adduserid,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.plat.acoal.entity.Parameter">
        insert into t_parameter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="icustomerid != null">
                iCustomerID,
            </if>
            <if test="isused != null">
                isUsed,
            </if>
            <if test="cparam != null">
                cParam,
            </if>
            <if test="corder != null">
                cOrder,
            </if>
            <if test="cvalue != null">
                cValue,
            </if>
            <if test="gradeid != null">
                gradeID,
            </if>
            <if test="cretime != null">
                cReTime,
            </if>
            <if test="ideviceid != null">
                iDeviceId,
            </if>
            <if test="adddatetime != null">
                addDateTime,
            </if>
            <if test="updatedatetime != null">
                updateDateTime,
            </if>
            <if test="adduserid != null">
                addUserID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="icustomerid != null">
                #{icustomerid,jdbcType=INTEGER},
            </if>
            <if test="isused != null">
                #{isused,jdbcType=BIT},
            </if>
            <if test="cparam != null">
                #{cparam,jdbcType=VARCHAR},
            </if>
            <if test="corder != null">
                #{corder,jdbcType=CHAR},
            </if>
            <if test="cvalue != null">
                #{cvalue,jdbcType=VARCHAR},
            </if>
            <if test="gradeid != null">
                #{gradeid,jdbcType=INTEGER},
            </if>
            <if test="cretime != null">
                #{cretime,jdbcType=VARCHAR},
            </if>
            <if test="ideviceid != null">
                #{ideviceid,jdbcType=INTEGER},
            </if>
            <if test="adddatetime != null">
                #{adddatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedatetime != null">
                #{updatedatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="adduserid != null">
                #{adduserid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.plat.acoal.entity.Parameter">
        update t_parameter
        <set>
            <if test="icustomerid != null">
                iCustomerID = #{icustomerid,jdbcType=INTEGER},
            </if>
            <if test="isused != null">
                isUsed = #{isused,jdbcType=BIT},
            </if>
            <if test="cparam != null">
                cParam = #{cparam,jdbcType=VARCHAR},
            </if>
            <if test="corder != null">
                cOrder = #{corder,jdbcType=CHAR},
            </if>
            <if test="cvalue != null">
                cValue = #{cvalue,jdbcType=VARCHAR},
            </if>
            <if test="gradeid != null">
                gradeID = #{gradeid,jdbcType=INTEGER},
            </if>
            <if test="cretime != null">
                cReTime = #{cretime,jdbcType=VARCHAR},
            </if>
            <if test="devId != null">
                dev_id = #{devId,jdbcType=INTEGER},
            </if>
            <if test="adddatetime != null">
                addDateTime = #{adddatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedatetime != null">
                updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="adduserid != null">
                addUserID = #{adduserid,jdbcType=INTEGER},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectParamByCondition" parameterType="com.plat.acoal.entity.Parameter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        t_parameter
        WHERE
        1=1
        <if test="cparam!=null and cparam!=''">
            AND cParam = #{cparam}
        </if>
        <if test="gradeid!=null and gradeid!=''">
            AND gradeID = #{gradeid}
        </if>
        <if test="icustomerid!=null and icustomerid != ''">
            AND iCustomerID = #{icustomerid}
        </if>
        <if test="devId!=null and devId != ''">
            AND dev_id = #{devId}
        </if>
        AND isUsed = 1
    </select>
    <update id="updateByPrimaryKey" parameterType="com.plat.acoal.entity.Parameter">
    update t_parameter
    set iCustomerID = #{icustomerid,jdbcType=INTEGER},
      isUsed = #{isused,jdbcType=BIT},
      cParam = #{cparam,jdbcType=VARCHAR},
      cOrder = #{corder,jdbcType=CHAR},
      cValue = #{cvalue,jdbcType=VARCHAR},
      gradeID = #{gradeid,jdbcType=INTEGER},
      cReTime = #{cretime,jdbcType=VARCHAR},
      iDeviceId = #{ideviceid,jdbcType=INTEGER},
      addDateTime = #{adddatetime,jdbcType=TIMESTAMP},
      updateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
      addUserID = #{adduserid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>