<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plat.acoal.dao.RealCannonDataMapper" >
  <resultMap id="BaseResultMap" type="com.plat.acoal.entity.RealCannonData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="devid" property="devid" jdbcType="INTEGER" />
    <result column="collectdt" property="collectdt" jdbcType="TIMESTAMP" />
    <result column="isfire" property="isfire" jdbcType="INTEGER" />
    <result column="isfault" property="isfault" jdbcType="INTEGER" />
    <result column="isopen" property="isopen" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, devid, collectdt, isfire, isfault, isopen
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_realcannondata
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByPrimaryDid" resultType="com.plat.acoal.entity.RealCannonData">

      select
      <include refid="Base_Column_List" />
      from t_realcannondata
      where 1=1
      <if test="devid!=null">AND devid = #{devid,jdbcType=INTEGER}</if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_realcannondata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.plat.acoal.entity.RealCannonData" >
    insert into t_realcannondata (id, devid, collectdt, 
      isfire, isfault, isopen
      )
    values (#{id,jdbcType=INTEGER}, #{devid,jdbcType=INTEGER}, #{collectdt,jdbcType=TIMESTAMP}, 
      #{isfire,jdbcType=INTEGER}, #{isfault,jdbcType=INTEGER}, #{isopen,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.plat.acoal.entity.RealCannonData" >
    insert into t_realcannondata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="devid != null" >
        devid,
      </if>
      <if test="collectdt != null" >
        collectdt,
      </if>
      <if test="isfire != null" >
        isfire,
      </if>
      <if test="isfault != null" >
        isfault,
      </if>
      <if test="isopen != null" >
        isopen,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="devid != null" >
        #{devid,jdbcType=INTEGER},
      </if>
      <if test="collectdt != null" >
        #{collectdt,jdbcType=TIMESTAMP},
      </if>
      <if test="isfire != null" >
        #{isfire,jdbcType=INTEGER},
      </if>
      <if test="isfault != null" >
        #{isfault,jdbcType=INTEGER},
      </if>
      <if test="isopen != null" >
        #{isopen,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plat.acoal.entity.RealCannonData" >
    update t_realcannondata
    <set >
      <if test="devid != null" >
        devid = #{devid,jdbcType=INTEGER},
      </if>
      <if test="collectdt != null" >
        collectdt = #{collectdt,jdbcType=TIMESTAMP},
      </if>
      <if test="isfire != null" >
        isfire = #{isfire,jdbcType=INTEGER},
      </if>
      <if test="isfault != null" >
        isfault = #{isfault,jdbcType=INTEGER},
      </if>
      <if test="isopen != null" >
        isopen = #{isopen,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plat.acoal.entity.RealCannonData" >
    update t_realcannondata
    set devid = #{devid,jdbcType=INTEGER},
      collectdt = #{collectdt,jdbcType=TIMESTAMP},
      isfire = #{isfire,jdbcType=INTEGER},
      isfault = #{isfault,jdbcType=INTEGER},
      isopen = #{isopen,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>